/* #mainRecentSearchBox{
    width: 15rem;
    height: 35rem;
    position: absolute;
    top: 75px;
    left: 5px;
} */


#recentSearchText{
    font-family: 'Courier New', Courier, monospace;
}
#allSearchesList::-webkit-scrollbar{
    display: none;
}

.searchesCity{
    font-family: 'Courier New', Courier, monospace;
}
